/* css style starts */
/* common style starts */
body {
  font-family: "Work Sans";
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 85px;
}
.btn-primary {
  background: #ff900e;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 25px;
  border: none;
  border-radius: 10px;
}
/* common style ends */
/* nav-bar-container starts */
.nav-bar-container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 144, 14, 0.1);
  align-items: center;
}
.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 50px;
}
.nav-bar-heading h2 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.nav-bar-navs {
  display: flex;
  align-items: center;
}
.nav-bar-navs nav ul {
  display: flex;
  gap: 20px;
  padding-left: 0;
}
.nav-bar-navs nav ul li {
  list-style: none;
}
.nav-bar-navs nav ul a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}
/* nav-bar-container ends */
/* 
----
----
----
----
---- 
*/
/*  header-banner-container starts */
.header-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 45px;
}
.header-banner-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-banner-title h2 {
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  color: #131313;
}
.header-banner-title p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 32px;
}
.header-banner-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.header-banner-img img {
  height: 500px;
  width: 900px;
}
/* --------------------
 header-banner-container ends 
 -------------------------------- */
/* 


/*-----------------------------
 main-item-1-container starts
 -------------------------------------- */
.main-item-1-container {
  display: flex;
  gap: 73px;
}
.main-item-1-container .main-item-1-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 24px;
  grid-column-gap: 24px;
}
.main-item-1-container .main-item-1-img img {
  width: 180px;
  height: 180px;
}
.main-item-1-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-item-1-title h3 {
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 0;
}
.h3-color-1 {
  color: rgba(114, 114, 114, 1);
}
.h3-color-2 {
  color: rgba(19, 19, 19, 1);
}
.h3-color-3 {
  color: rgba(255, 144, 14, 1);
}
.main-item-1-title p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  text-align: center;
}
/*--------------------------- 
main-item-1-container ends 
--------------------------*/
/*--- css style ends------
---------------------------- */


/*-------------------------------------
 main-item-2 starts
 ----------------------------------- */
.main-item-2  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}
.main-item-2-container {
  display: flex;
  gap: 54px;
}
.main-item-2-header h3 {
  font-weight: 700;
  font-size: 45px;
  border-left: 5px solid rgba(255, 144, 14, 1);
  padding-left: 5px;
  margin: 0 10px;
}
.main-item-2-header p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.main-item-2-cart {
  padding: 15px;
  border: none;
  box-shadow: 0px 0px 10px 10px rgb(255, 246, 246);
}
.main-item-2-cart h4 {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
}
.main-item-2-cart p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.main-item-2-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-item-2-img img {
  width: 700px;
  height: 982PX;
  position: relative;
}
.btn-secondary {
  color: white;
  background: #ff900e;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  position: absolute;
  margin-top: 900px;
  margin-right: 600px;
}
.btn-secondary h3 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.btn-secondary p {
  font-size: 15px;
}
/*----------------------------
 main-item-2 ends
 ---------------------------- */

/* -----------------------
.footer-item-1 starts 
------------------------------*/

.footer-item-1-container {
  margin-left: 150px;
  margin-bottom: 60px;
  margin-top: 130px;
}
.footer-item-1 h3 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.footer-item-1 p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
/* --------------------------------
.footer-item-1 ends
--------------------------------- */

/*--------------------------------
 .footer-item-2 starts
 -------------------------------------*/
.footer-item-2  {
  display: flex;
  justify-content: space-evenly;
}
.footer-item-2-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(255, 144, 14, 1);
}
.footer-item-2 :hover {
  transform: rotate(30deg);
  background-color: #edac61;
}
.footer-item-2-item h3 {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
  margin: 10px 0px;
}
.footer-item-2-item p {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
  margin: 10px 0;
}
/* ------------------------------
.footer-item-2 ends
----------------------------- */

/* --------------------------------
.footer-item-3 starts-------
-------------------------------*/
.footer-item-3-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.footer-item-3-title h3 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 10px;
}
.footer-item-3-title p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.footer-item-3-logos {
  display: flex;
  justify-content: space-evenly;
}
.footer-item-3-logo img {
  filter: grayscale(1);
}
/*----------------------
 .footer-item-3 ends*
 -----------------------/

/* -----------------------------
extra-section starts
--------------------------------*/
.extra-section-container{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 100px ;
}
.extra-section-heading{
  border-radius: 10px;
  border: 2px solid rgb(230, 190, 190);
  padding: 30px 80px;
  background: #bdf6f3;
  margin-bottom: 10px;
}
.extra-section-heading h2{
  font-size: 30px;
  color: black;
  margin: 0;
}
.extra-section form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email input[type="email"]
{
  background-color: #FFF4E7;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 10px;
  margin-bottom: 10px;
}
.text-area textarea{
  background-color: #FFF4E7;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  resize: none;
  margin-bottom: 10px;
}
.extra-section-btn{
  margin-left: 65px;
}
/*---------------------------
 extra-section ends
 -----------------------------*/

/*----------------------------
 .footer-item-4 starts-
 -----------------------------*/
.footer-item-4-container{
  display: flex;
  flex-direction: column;
  align-items: center ;
  margin-top: 130px;
  margin-bottom: 130px;
}
.footer-item-4{
  background-color: #FFF4E7;
  padding: 30px 290px;
}
.footer-item-4 p {
  font-weight: 400;
  font-size: 20px;
  color: #424242;
  margin: 0;
}
/*---------------------------
 .footer-item-4 ends
 ------------------------------*/

/* -----------------------------
css responsive style starts
---------------------------- */
@media only screen and (max-width: 576px) {
  /* nav-bar-container starts */
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }
  .nav-bar-navs nav ul {
    flex-direction: column;
  }
  /*---------------------------------------
   nav-bar-container ends
   ---------------------------------- */


  /* --------------------------------------
   header-banner-container starts
   ------------------------------------- */
  .header-banner-img img {
    width: 100%;
    height: 100%;
  }
  /* ----------------------------------------
   header-banner-container ends
   ------------------------------------  */

  /* main-item-1-container starts */
  .main-item-1-container {
    flex-direction: column;
    align-items: center;
  }
  .main-item-1-container .main-item-1-img {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .main-item-1-title h3 {
    text-align: center;
  }
  .main-item-1-title .main-item-1-title-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* main-item-1-container ends */
  /* 
---------------------------------------------
-----------------------------------------------------------
---- --------------------------------
*/
  /* main-item-2 starts */
  .main-item-2-container {
    flex-direction: column;
  }
  .footer-item-2 :hover {
    background-color: #f18000;
    transform: rotate(0deg);
  }
  .main-item-2-img img {
    width: 100%;
    height: 100vh;
  }
  .btn-secondary {
    position: relative;
    margin: 10px 0 0 0;
  }
  /* main-item-2 ends */
  /* 
-----------------------------------------------
--------------------------------------
*/
  /* .footer-item-1 starts */
  .footer-item-1-container {
    margin: 5px;
  }
  /* .footer-item-1 ends */
  /* 
-----------------------------------------------------
------------------------------------------

*/
  /* .footer-item-2 starts*/
  .footer-item-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer-item-2-item {
    padding: 10px;
  }
  /* .footer-item-2 ends*/
  /* 
----------------------------------------------
-------------------------------------------- 
*/
  /* .footer-item-3 starts*/
  .footer-item-3-logos {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  /* .footer-item-3 endss*/
  /* 
-----------------------------------
------------------------------------
*/
/* .footer-item-3 ends*/
/* 
------------------------------------------------------------
------------------------------------------------------------
*/
/* extra-section starts*/
.extra-section-container{
  display: none;
}
/* extra-section ends*/
/* .footer-item-4 starts*/
.footer-item-4{
  background-color: #FFF4E7;
  padding: 30px;
}
.footer-item-4 p{
  text-align: center;
}
/* .footer-item-4 ends*/
}
/* css responsive style ends  */
.hide {
  display: none;
}
